<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/jquery.mobile-1.1.0.min.css" />
	<script src="/static/jquery-1.7.2.min.js"></script>
	<script src="/static/jquery.mobile-1.1.0.min.js"></script>
	<script>
		var source = new EventSource('/events');
		source.onmessage = function(e) {
			var json = JSON.parse(e.data)
			var data = $.trim(json).replace(/\ *\| */g, "\n");
			$('#avr_state').contents().replaceWith(data);
		};

		function send_cmd(cmd) {
			var data = "/" + cmd.replace(/ /g, "/");
			var req = new XMLHttpRequest();
			req.onreadystatechange = function() { };
			req.open("POST", encodeURIComponent(data), true);
			req.send();
		};
	</script>

</head>
<body>

<div data-role="page" id="main">

	<div data-role="header">
		<h1>{{ title }}</h1>
	</div><!-- /header -->

	<div data-role="content">
		{% for c in sorted(cmd_handlers) %}
			{% if c %}
			<button onclick="send_cmd('{{ c }}')">{{ c }}</button>
			{% end %}
		{% end %}

		<p>Last command: '{{ last_cmd }}'</p>
	</div><!-- /content -->

	<div data-role="footer">
		<pre id="avr_state">Initializing...</pre>
	</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
