<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/jquery.mobile-1.1.0.min.css" />
	<script src="/static/jquery-1.7.2.min.js"></script>
	<script src="/static/jquery.mobile-1.1.0.min.js"></script>
	<script>

function send_cmd(cmd) {
	var url = "/" + cmd.replace(/ /g, "/");
	$.ajax({
		url: encodeURIComponent(url),
		type: 'POST'
	});
}

function repeat_cmd(cmd, repeats) {
	var i = 0
	while (i < repeats) {
		send_cmd(cmd);
		i++;
	}
}

function ui_disable(selector, disable) {
	if (disable) {
		$(selector).addClass('ui-disabled');
	}
	else {
		$(selector).removeClass('ui-disabled');
	}
}

function parse_avr_state(e) {
	var s = JSON.parse(e.data); // extract AVR state info

	if (!s) {
		return $('#avr_state').html("<p>Unknown</p>");
	}

	ui_disable('#avr_controls', s.off);
	if (s.off) {
		return $('#avr_state').html("<p>Off</p>");
	}

	ui_disable('#avr_surroundcontrols', s.standby);
	ui_disable('#avr_volumecontrols', s.standby);
	$('#avr_button_on').toggle(s.standby);
	$('#avr_button_off').toggle(!s.standby);
	if (s.standby) {
		return $('#avr_state').html("<p>Standby</p>");
	}

	var state_str = "<fieldset class=\"ui-grid-a\" style=\"margin: 10px 0;\">\n"
	state_str += "<pre class=\"ui-block-a\">";
	state_str += $.trim(s.line1) + "\n";
	state_str += $.trim(s.line2) + "\n";
	state_str += "</pre>\n<pre class=\"ui-block-b\">";
	state_str += s.source + "/" + s.channels_string;
	state_str += " -> " + s.speakers_str + "\n";
	state_str += s.surround_string + "\n";
	state_str += "</pre>\n</fieldset>";
	$('#avr_state').html(state_str);

	if (s.volume != null) {
		var vol = s.volume + "dB\n";
		$('#avr_volume .ui-btn-text').text(vol + "| Mute");
	}
	if (s.mute) {
		$('#avr_volume .ui-btn-text').text("Unmute")
	}

}

var source = new EventSource('/events');
source.onmessage = parse_avr_state;

	</script>
</head>
<body>

<div data-role="page" id="main_page" style="text-align: center">

<div data-role="header">
	<h1>A/V Controller</h1>
{% if "hdmi on" in cmd_handlers %}
	<a href="#hdmi_page" data-role="button" data-icon="arrow-l"
	   data-iconpos="left">HDMI</a>
{% end %}
{% if "avr on" in cmd_handlers %}
	<a href="#avr_page" data-role="button" data-icon="arrow-r"
	   data-iconpos="right" class="ui-btn-right">AVR</a>
{% end %}
</div>

<div data-role="content">
{% if "avr on" in cmd_handlers %}
	<a href="#avr_page" data-role="button">Surround Receiver</a>
{% end %}
{% if "hdmi on" in cmd_handlers %}
	<a href="#hdmi_page" data-role="button">HDMI Switch</a>
{% end %}
</div>

<div data-role="footer">
	<p>by Johan Herland
	&lt;<a href="mailto:johan@herland.net">johan@herland.net</a>&gt;</p>
</div>

</div>

{% if "avr on" in cmd_handlers %}
<div data-role="page" id="avr_page" style="text-align: center">

<div data-role="header">
	<h1>Surround Receiver</h1>
	<a href="#main_page" data-role="button" data-icon="arrow-l"
	   data-iconpos="left">Main</a>
{% if "hdmi on" in cmd_handlers %}
	<a href="#hdmi_page" data-role="button" data-icon="arrow-r"
	   data-iconpos="right" class="ui-btn-right">HDMI</a>
{% end %}
</div>

<div data-role="content" id="avr_controls">
	<span id="avr_button_on">
		<button onclick="send_cmd('avr on')"
			data-inline="true"
			data-theme="a">On</button>
	</span>
	<span id="avr_button_off">
		<button onclick="send_cmd('avr off')"
			data-inline="true"
			data-theme="a">Off</button>
	</span>
	<span id="avr_surroundcontrols">
		<span data-role="controlgroup" data-type="horizontal">
			<!-- <button onclick="send_cmd('avr surround 6ch')">
				5.1
			</button> -->
			<button onclick="send_cmd('avr surround dolby')">
				<!-- Dolby -->Surround
			</button>
			<!-- <button onclick="send_cmd('avr surround dts')">
				DTS
			</button> -->
			<button onclick="send_cmd('avr surround stereo')">
				Stereo
			</button>
		</span>
	</span>
	<div id="avr_volumecontrols" data-role="controlgroup" data-type="horizontal">
		<button onclick="repeat_cmd('avr vol-', 5)"><b>-5</b></button>
		<button onclick="send_cmd('avr vol-')"><b>-1</b></button>
		<span id="avr_volume">
			<button onclick="send_cmd('avr mute')" data-theme="b">
				Mute
			</button>
		</span>
		<button onclick="send_cmd('avr vol+')"><b>+1</b></button>
		<button onclick="repeat_cmd('avr vol+', 5)"><b>+5</b></button>
	</div>
</div>

<div data-role="footer">
	<div id="avr_state"><p>Initializing...</p></div>
</div>

</div>
{% end %}

{% if "hdmi on" in cmd_handlers %}
<div data-role="page" id="hdmi_page" style="text-align: center">

<div data-role="header">
	<h1>HDMI Switch</h1>
{% if "avr on" in cmd_handlers %}
	<a href="#avr_page" data-role="button" data-icon="arrow-l"
	   data-iconpos="left">AVR</a>
{% end %}
	<a href="#main_page" data-role="button" data-icon="arrow-r"
	   data-iconpos="right" class="ui-btn-right">Main</a>
</div>

<div data-role="content" id="hdmi_controls">
	<div data-role="controlgroup" data-type="horizontal">
		<button onclick="send_cmd('hdmi on')" data-theme="a">On/Off</button>
		<button onclick="send_cmd('hdmi 1')">HTPC</button>
		<button onclick="send_cmd('hdmi 2')">Get</button>
		<button onclick="send_cmd('hdmi 3')">PS3</button>
		<!-- <button onclick="send_cmd('hdmi 4')">Wii</button> -->
	</div>
</div>

<div data-role="footer">
	<pre id="hdmi_state">???</pre>
</div>

</div>
{% end %}

</body>
</html>
